meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
link(type='text/css', rel='stylesheet', href='/libs/sweetalert/dist/sweetalert.css')
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/libs/sweetalert/dist/sweetalert.min.js")
