extends layout

block content
  .container
    .row
      .panel.panel-primary
        .panel-heading 该用户的全部维修记录
        table.table.table-hover.table-bordered
          thead
            tr
              th 提交时间
              th 问题说明
              th 问题处理说明
          tbody
            each item in orders
              tr(class="item-id-#{item._id}")
                td #{moment(item.meta.createAt).format('YYYY-MM-DD HH:mm:ss')}
                td #{item.request}
                td #{item.response}
      